################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolidworksLibrary.slnx/FileContentIndex/826ed812-95c5-43ac-83f3-87d8908612a9.vsidx
